@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fit-center {
    @apply absolute left-1/2 m-0 box-border flex min-h-dvh w-full -translate-x-1/2 flex-col items-center justify-start;
  }
  .nav-button {
    @apply flex flex-shrink-0 flex-grow-0 items-center justify-start   p-4 text-white;
  }
  .nav-button-shrinked {
    @apply flex w-[56px] flex-shrink-0 flex-grow-0 items-center justify-start gap-6 rounded-xl p-4 text-white;
  }

  .popover-content {
    @apply flex w-[272px] flex-col justify-start rounded-xl border border-transparent bg-zinc-700 p-0 shadow-md !important;
  }

  .popover-ul {
    @apply flex w-64 flex-col items-center justify-start gap-3 px-2 py-3;
  }

  .popover-item {
    @apply flex w-60 items-center justify-start gap-3 rounded-xl px-2 py-1 hover:bg-zinc-900;
  }

  .popover-text {
    @apply flex-shrink-0 flex-grow-0 text-center text-white;
  }

  .form-item {
    @apply flex flex-shrink-0 flex-grow-0 flex-col items-start justify-center self-stretch
  }

  .form-input {
    @apply flex w-full flex-shrink-0 flex-grow-0 items-center justify-between rounded-md bg-black px-4   text-white placeholder:text-white  !important;
  }

  .form-label {
    @apply text-right text-base font-medium text-white pb-2;
  }


}

@layer utilities {
  .layout-grid {
    display: grid;
    grid-template-columns: fit-content(224px) 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar main";
  }

  .layout-grid-shrinked {
    display: grid;
    grid-template-columns: fit-content(64px) 1fr;
    grid-template-areas:
      "header header"
      "sidebar main"
      "sidebar main";
  }

  .grid-header {
    grid-area: header;
  }

  .grid-side-bar {
    grid-area: sidebar;
  }

  .grid-main {
    grid-area: main;
  }

  .nav-slider {
    display: inline-flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-slider::-webkit-scrollbar {
    display: none;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #645e5e #bfbfbf;
  }

  /* Chrome, Edge, and Safari */
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #a2a0a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5f5d5d;
    border-radius: 10px;
    border: 8px solid #ffffff;
  }
}
