@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fit-center {
    @apply flex flex-col m-0 justify-start items-center w-full absolute left-1/2 -translate-x-1/2 min-h-dvh;
  }
  .nav-button {
    @apply flex justify-start items-center flex-grow-0 flex-shrink-0 w-[196px]  gap-6 p-4 rounded-xl text-white
  }
  .nav-button-shrinked {
    @apply flex justify-start items-center flex-grow-0 flex-shrink-0 w-[56px]  gap-6 p-4 rounded-xl text-white
  }
}

@layer utilities {
  .layout-grid {
    display: grid;
    grid-template-columns: fit-content(224px) 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar main";
  }

  .layout-grid-shrinked {
    display: grid;
    grid-template-columns: fit-content(64px) 1fr;
    grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar main";
  }

  .grid-header {
    grid-area: header;
  }

  .grid-side-bar {
      grid-area: sidebar;
      
  }

  .grid-main {
    grid-area: main;
  }


  
  .nav-slider {
    display: inline-flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-slider::-webkit-scrollbar {
    display: none;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #645e5e #bfbfbf;
  }

  /* Chrome, Edge, and Safari */
  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #a2a0a0 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #5f5d5d;
    border-radius: 10px;
    border: 8px solid #ffffff;
  }
}